Forecastimg Gold Price Time Series Exercise 4

In [1]:
# important libraries are installed and imported
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

Loading the Gold price dataset in pandas

In [2]:
df = pd.read_csv("gold_price_data.csv")

In [3]:
# having observed critically
# in the early year, the pattern 
# is every 3 days in a month
df

             Date    Value
0      1970-01-01    35.20
1      1970-04-01    35.10
2      1970-07-01    35.40
3      1970-10-01    36.20
4      1971-01-01    37.40
...           ...      ...
10782  2020-03-09  1672.50
10783  2020-03-10  1655.70
10784  2020-03-11  1653.75
10785  2020-03-12  1570.70
10786  2020-03-13  1562.80

[10787 rows x 2 columns]

In [4]:

df = df.iloc[0:6720]

In [5]:
df

            Date   Value
0     1970-01-01   35.20
1     1970-04-01   35.10
2     1970-07-01   35.40
3     1970-10-01   36.20
4     1971-01-01   37.40
...          ...     ...
6715  2004-08-05  390.85
6716  2004-08-06  399.00
6717  2004-08-09  399.00
6718  2004-08-10  399.50
6719  2004-08-11  393.85

[6720 rows x 2 columns]